/* PAGE */

.expense-page{
  padding:30px 40px;
  background:linear-gradient(135deg,#eef3ff,#f9fbff);
  min-height:100vh;
}

.expense-title{
  margin-bottom:20px;
  font-size:30px;
  font-weight:600;
  color:#ab0f01;
}

.expense-layout{
  display:flex;
  gap:30px;
}


/* TABLE */

.expense-table-box{
  flex:2;
  background:#f7f5f0;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
  border:1px solid #ab0f01;
}

.expense-table{
  width:100%;
  border-collapse:collapse;
}

.expense-table th{
  background:#f7f5f0;
  color:#ab0f01;
  padding:12px;
  text-align:left;
}

.expense-table td{
  padding:12px;
  border-bottom:1px solid #eee;
}

.expense-table tr:hover{
  background:#f9fafb;
}

.no-data{
  text-align:center;
  color:#888;
}


/* FORM */

.expense-form-box{
  flex:1;
  background:#f7f5f0;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
  border:1px solid #ab0f01;
}

.expense-form-box form{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.expense-form-box input,
.expense-form-box select,
.expense-form-box textarea{
  padding:10px;
  border-radius:6px;
  border:1px solid #ddd;
  outline:none;
}

.expense-form-box input:focus,
.expense-form-box select:focus,
.expense-form-box textarea:focus{
  border:1px solid #6c7cf5;
}


/* SAVE BUTTON */

.expense-form-box .save-expense-btn{
  background:#f7abab;
  color:#510505;
  border:none;
  padding:10px;
  border-radius:6px;
  cursor:pointer;
  transition:0.2s;
}

.expense-form-box .save-expense-btn:hover{
  background:#f68888;
}


/* ACTION BUTTONS */

.expense-table .edit-btn{
  background:#fadaa5;
  border:none;
  padding:6px 12px;
  border-radius:5px;
  color:#ec8e09;
  cursor:pointer;
  transition:0.2s;
}

.expense-table .edit-btn:hover{
  background:#f8c874;
}

.expense-table .delete-btn{
  background:#f5c0c0;
  border:none;
  padding:6px 12px;
  border-radius:5px;
  color:#f80303;
  cursor:pointer;
  transition:0.2s;
}

.expense-table .delete-btn:hover{
  background:#f59a9a;
}


/* BUTTON SPACING */

.expense-table button{
  margin-right:6px;
}